.header {
    height: 55px;
    display: flex;;
    flex-direction: row;
    justify-content: space-between;
}     
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
     flex: 1;
     margin-left: 70px;
     margin-right: 40px;
     max-width: 500px;
     display: flex;
     align-items: center;
}
.right-section{
    width: 180px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 20px;
    margin-right: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216,216,216);
    margin-left: -1px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    margin-left: 8px;
    border-radius: 40px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(216,216,216);
}
.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-button .search-icon{
    height: 20px;
    margin-top: 4px; 
}
.voice-search-button .voice-search-icon{
    height: 20px;
}
.upload-icon{
    height: 24px;
}
.apps-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;  
}
.profile-picture{
    height: 32px;
    border-radius: 16px;
    margin-left: 12px;
}

