p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.subscribe-button{
    background-color: rgb(200,0,0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 20px;
    margin-top: 20px;
    transition: opacity 0.15s;
}
.subscribe-button:hover{
    opacity: 0.8;
}
.thumbnail{
    width: 100%;
    margin-bottom: 10px;;
}
.search-bar{
    margin-left: 12px;
    display: block;
}
.video-author{
    display: block;
}
.video-status{
    display: block;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-info{
    display: inline-block;
    width: 200px;
    margin-left: 2px;
}
.profile-pic{
    width: 40px;
    border-radius: 40px
}
.video-title{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}
.tumbnail-row{
    margin-bottom: 12px;
}
.video-author{
    font-size: 12px;
    color: rgb(96,96,96);
    margin-bottom: 4px;
}
.video-status{
    font-size: 12px;
    color: rgb(96,96,96);
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
body{
    margin: 0;
}